<!-- templates/events_form.html -->
{% extends 'base.html' %}{% block title %}{{ 'Edit' if event else 'Create' }} Event{% endblock %}
{% block content %}
<h2>{{ 'Edit' if event else 'Create' }} Event</h2>
<form method="post">
    <label>Name: <input type="text" name="name" value="{{ event.name if event else '' }}"></label><br>
    <label>Description:<br><textarea name="description">{{ event.description if event else '' }}</textarea></label><br>
    <button type="submit">{{ 'Update' if event else 'Create' }}</button>
</form>
{% endblock %}
